@import 'theme-colors';

.screen {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column-reverse;
  align-items: flex-end;
  position: relative;
  width: 355px;
  height: 105px;
  color: var(--screen-font-color);

}

.equals {
  width: 70px;
  height: 50px;
  position: absolute;
  left: 0;
  bottom: 0;
  font-size: 26px;
  text-align: center;
}

.actions {
  width: 355px;
  height: 35px;
  font-size: 22px;
  text-align: end;
  color: var(--actions-color);
}
