/* The switch - the box around the slider */
.switch {
  position: fixed;
  display: flex;
  width: 122px;
  height: 44px;
  margin-bottom: 720px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("@/assets/images/sun-icon/sun-dark-button.png"), url("@/assets/images/dark-icon/night-light-button.png");
  background-repeat: no-repeat ;
  background-position: right 17.26px top 50%  , left 17px top 50%;
  background-color: #A9DCFD;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  display: flex;
  position: absolute;
  content: url("@/assets/images/sun-icon/sun-light-button.png");
  justify-content: center;
  align-items: center;
  height: 44px;
  width: 68px;
  background-color: #D8EEFF;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #1B6A9C;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(55px);
  -ms-transform: translateX(55px);
  transform: translateX(55px);
  content: url("@/assets/images/dark-icon/night-dark-button.png");
  background-color: #003661;

}

/* Rounded sliders */
.slider.round {
  border-radius: 40px;
}

.slider.round:before {
  border-radius: 40px
}